<ng-template transloco let-t>
  <div class="p-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let col of columns" scope="col">{{t(col.label)}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments; index as i">
          <td class="overflow-hidden">
            <div ngbDropdown container="body">
              <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{t('ACTIONS')}}</button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem
                  (click)="this.action.emit({payment: payment, action:'MARK_AS_PAID'})">{{t('MARK_AS_PAID')}}</button>
                <div class="dropdown-divider"></div>
                <button class="btn btn-danger" (click)="this.action.emit({payment: payment, action:'DELETE'})"
                  ngbDropdownItem>
                  {{t('DELETE')}}</button>
              </div>
            </div>
          </td>
          <td>
            **** {{ payment.id.slice(30) }}
          </td>
          <td>{{payment.createdDate | date }}</td>
          <td>{{ payment.payerEmail }}</td>
          <td>{{ payment.status }}</td>
          <td>{{ payment.amount | currency: payment.currency: 'symbol'}}</td>
          <td>{{ payment.paidDate | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>